<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu</key>
	<array>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>componentId</key>
					<string>collection</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalCollection</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的收藏</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>componentId</key>
					<string>download</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalDownload</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyPublish</string>
					<key>name</key>
					<string>我的下载</string>
					<key>order</key>
					<integer>3</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>componentId</key>
					<string>publish</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalPublish</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyPublish</string>
					<key>name</key>
					<string>我的发布</string>
					<key>order</key>
					<integer>3</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>componentId</key>
					<string>comment</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalComment</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的评论</string>
					<key>order</key>
					<integer>4</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>collection</string>
			<key>order</key>
			<integer>1</integer>
			<key>show</key>
			<integer>0</integer>
			<key>showType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>ManagerStore</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>meachant_default</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>主体责任</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>busCheckSelf</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>meachant_default</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>主体责任新</string>
					<key>order</key>
					<integer>5</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>ccbclink</string>
			<key>order</key>
			<integer>2</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>ManagerGov</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>govt_default</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>监管责任</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>GovCheckManager</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>govt_default</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>监管责任新</string>
					<key>order</key>
					<integer>5</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>ccbclink</string>
			<key>order</key>
			<integer>3</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>IntelligentDecision</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>icon_intelligentDecision</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>智慧大数据</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>allProtocol</string>
			<key>order</key>
			<integer>4</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>OAPlus/view/login/login.html?hideShare=1&amp;jhParams=[appId|appServer]&amp;jhCordova=1&amp;needLogin=1&amp;state=STATE#JHChat_redirect</string>
					<key>componentId</key>
					<string>collection</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalWork</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string>file:///android_asset/www/OAPlus/view/login/login.html?jhParams=[appId|appServer]&amp;jhCordova=1&amp;needLogin=1&amp;state=STATE#JHChat_redirect&amp;serviceUrl=</string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>办公业务</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>fiveDuty</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>fiveDuty</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>职场黑匣子</string>
					<key>order</key>
					<integer>2</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>FPBB</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>FPBB</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>五定黑匣子</string>
					<key>order</key>
					<integer>10</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>dss.iuoooo.com/CockpitMobile/index?jhParams=[userId|sessionId|orgId|appId|changeOrg|curChangeOrg|account]&amp;jhWebView=1</string>
					<key>componentId</key>
					<string>collection</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>companyDriver</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>大数据分析</string>
					<key>order</key>
					<integer>3</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>j.iuoooo.com/jc6/OAPlus/view/workFlow/form.html?fr=do&amp;apptid=8a2c5ae05caa2c7c015d2ada311317b7&amp;flowflag=0&amp;newpage=1&amp;newWebView=1&amp;hideShare=1&amp;appId=b3ad5aba-ae1e-4f4b-ba55-c5fb0375de3c&amp;appServer=jc6&amp;jhCordova=1&amp;needLogin=1&amp;state=STATE#JHChat_redirect</string>
					<key>componentId</key>
					<string>RestaurantLevel</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>restaurant</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string>file:///android_asset/www/OAPlus/view/workFlow/form.html?fr=do&amp;apptid=8a2c5ae05caa2c7c015d2ada311317b7&amp;flowflag=0&amp;newWebView=1&amp;hideShare=1&amp;appId=b3ad5aba-ae1e-4f4b-ba55-c5fb0375de3c&amp;appServer=jc6&amp;jhCordova=1&amp;needLogin=1&amp;state=STATE#JHChat_redirect&amp;serviceUrl=https://j.iuoooo.com/jc6/</string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>餐厅等级设定</string>
					<key>order</key>
					<integer>4</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>NewsColumn</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>learningOnline</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>在线学习</string>
					<key>order</key>
					<integer>5</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>j.iuoooo.com/jc6/OAPlus/view/knowledge/myKnowledge.html?&amp;newWebView=1&amp;hideShare=1&amp;hideShare=1&amp;appId=b3ad5aba-ae1e-4f4b-ba55-c5fb0375de3c&amp;appServer=jc6&amp;jhCordova=1&amp;needLogin=1&amp;state=STATE#JHChat_redirect</string>
					<key>componentId</key>
					<string>FoodSafetyKnowledge</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>knowledge</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string>file:///android_asset/www/OAPlus/view/knowledge/myKnowledge.html?&amp;newWebView=1&amp;hideShare=1&amp;appId=b3ad5aba-ae1e-4f4b-ba55-c5fb0375de3c&amp;appServer=jc6&amp;jhCordova=1&amp;needLogin=1&amp;state=STATE#JHChat_redirect&amp;serviceUrl=https://j.iuoooo.com/jc6/</string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>食品安全知识库</string>
					<key>order</key>
					<integer>6</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>pip.iuoooo.com/PersonalMarketing/MyContent?jhParams=[userId|sessionId|orgId|appId|changeOrg]&amp;amp;needLogin=1&amp;amp;jhWebView=1</string>
					<key>componentId</key>
					<string>MyPersonalShare</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalShare</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>全网宣传</string>
					<key>order</key>
					<integer>7</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>C6Custom</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalWork</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string></string>
					<key>order</key>
					<integer>8</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>123.56.237.29/c6/jhmobile.app/view/Index.html?UserId=1&amp;amp;amp;hideShare=1&amp;amp;amp;jhWebView=1&amp;amp;amp;jhparams=</string>
					<key>componentId</key>
					<string>MyZhaoShangTong</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>icon_zhaoshangtong.png</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>招商通</string>
					<key>order</key>
					<integer>9</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>office</string>
			<key>order</key>
			<integer>5</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>http://spxj.hangyjx.com/tz-smile/android/business-followforjh.xhtml?jhParams=[account]&amp;needLogin=1&amp;jhWebView=1&amp;hidjhnavigation=1</string>
					<key>componentId</key>
					<string></string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>attention</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>关注企业</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>http://spxj.hangyjx.com/tz-smile/android/earlywarnforjh.xhtml?jhParams=[account]&amp;needLogin=1&amp;jhWebView=1&amp;hidjhnavigation=1</string>
					<key>componentId</key>
					<string></string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>notification</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>通知</string>
					<key>order</key>
					<integer>2</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>discountTiket</string>
			<key>order</key>
			<integer>6</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string></string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>cooperation_default</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>餐厅合作申请</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>myletter</string>
					<key>event</key>
					<string>58240a92-b502-14b2-165c-e63a033b258e</string>
					<key>icon</key>
					<string>myletter</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的报告</string>
					<key>order</key>
					<integer>2</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>businessApplyIn</string>
			<key>order</key>
			<integer>7</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>iuform.iuoooo.com/demo/index</string>
					<key>componentId</key>
					<string></string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>ccbclink</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>数据采集</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>ccbclink</string>
			<key>order</key>
			<integer>8</integer>
			<key>show</key>
			<integer>0</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/Mobile/MyOrderList?jhparams=[userId|sessionId|esAppId]&amp;SrcType=39&amp;ProductType=appcjzy</string>
					<key>componentId</key>
					<string>order</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalOrder</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyOrder</string>
					<key>name</key>
					<string>全部订单</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/Mobile/MyOrderList?jhparams=[userId|sessionId|esAppId]&amp;SrcType=39&amp;ProductType=appcjzy&amp;orderState=0</string>
					<key>componentId</key>
					<string>order</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalWaitPay</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyOrder</string>
					<key>name</key>
					<string>待付款</string>
					<key>order</key>
					<integer>2</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/Mobile/MyOrderList?jhparams=[userId|sessionId|esAppId]&amp;SrcType=39&amp;ProductType=appcjzy&amp;orderState=1</string>
					<key>componentId</key>
					<string>order</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalWaitPost</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyOrder</string>
					<key>name</key>
					<string>待发货</string>
					<key>order</key>
					<integer>3</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/Mobile/MyOrderList?jhparams=[userId|sessionId|esAppId]&amp;SrcType=39&amp;ProductType=appcjzy&amp;orderState=2</string>
					<key>componentId</key>
					<string>order</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalPosted</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyOrder</string>
					<key>name</key>
					<string>已发货</string>
					<key>order</key>
					<integer>4</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/Mobile/MyOrderList?jhparams=[userId|sessionId|esAppId]&amp;SrcType=39&amp;ProductType=appcjzy&amp;orderState=-1</string>
					<key>componentId</key>
					<string>order</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalServerice</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyOrder</string>
					<key>name</key>
					<string>退款/售后</string>
					<key>order</key>
					<integer>5</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>market</string>
			<key>order</key>
			<integer>9</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>sign.iuoooo.com/MApp/Sign?jhParams=[userId|sessionId|orgId|appId|changeOrg|curChangeOrg|account]</string>
					<key>componentId</key>
					<string></string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalSignIn</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>签到</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>TaskManager</string>
					<key>componentId</key>
					<string>TaskManager</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalCollection</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的任务</string>
					<key>order</key>
					<integer>2</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>MyExperience</string>
					<key>componentId</key>
					<string>MyExperience</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalCollection</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的经历</string>
					<key>order</key>
					<integer>3</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>signin</string>
			<key>order</key>
			<integer>10</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>organization</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>person_organization</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>泛组织</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>signin</string>
			<key>order</key>
			<integer>10</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>myOrganization</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>person_inner_organization</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的组织</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>signin</string>
			<key>order</key>
			<integer>10</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string>EnterpriseGroupActivities</string>
					<key>WebItemUrl</key>
					<string>zph.iuoooo.com/JCPay/FJCPay/Index?jhParams=[userId|sessionId|orgId|appId|changeOrg|curChangeOrg|account]&amp;jhWebView=1&amp;needLogin=1&amp;os=ios&amp;isEncrypt=False&amp;isHD=false&amp;limitDate=</string>
					<key>componentId</key>
					<string>EnterpriseGroupActivities</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>EnterpriseGroupActivities</string>
					<key>iconUrl</key>
					<string></string>
					<key>id</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>企业团购活动</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
			<key>order</key>
			<integer>72</integer>
			<key>contentType</key>
			<string>signin</string>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>MyFollow</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>my-attention</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<true/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的关注</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>MyFans</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>my-fans</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<true/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的粉丝</string>
					<key>order</key>
					<integer>2</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>WebItemUrl</key>
					<string>coupon.iuoooo.com/CouponList/MyCoupon?SrcType=36&amp;producttype=appcjzy&amp;source=internal&amp;type=tuwen&amp;jhparams=[userId|sessionId]&amp;appid=88166d7f-15fd-4eb5-a4cb-0aa719e25bed</string>
					<key>componentId</key>
					<string>couponlist</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalDiscount</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<true/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>优惠券</string>
					<key>order</key>
					<integer>3</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>componentId</key>
					<string>gold</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalGoldCoin</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的金币</string>
					<key>order</key>
					<integer>4</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>componentId</key>
					<string>myvouchermanagement</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalToken</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>itemUrl</key>
					<string>promotion.iuoooo.com/MyVouchers/Index?jhParams=[userId|sessionId|changeOrg|curChangeOrg|appId]&amp;srcApp=btpMyHome</string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>代金券</string>
					<key>order</key>
					<integer>5</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>adm.iuoooo.com/Wallet/WalletList?jhParams=[userId|appid|sessionId|orgId|changeOrg|curChangeOrg|account]&amp;isAnnon=true&amp;os=ios&amp;msgId=00000000-0000-0000-0000-000000000000&amp;curChangeOrg=00000000-0000-0000-0000-000000000000&amp;deviceId=00000000-0000-0000-0000-000000000000&amp;appName=test全经联01231607</string>
					<key>componentId</key>
					<string>Share_RedPager</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalExtendRedBag</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMypromotionRedEnvelopes</string>
					<key>name</key>
					<string>推广红包</string>
					<key>order</key>
					<integer>6</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/Mobile/CommissionMoney?payeeType=12&amp;source=share&amp;needLogin=1&amp;jhParams=[userId|sessionId|orgId|changeOrg|curChangeOrg|account|appId]</string>
					<key>componentId</key>
					<string>CrowdRefunding_RedPager</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalChannelPay</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyOtherRedEnvelopes</string>
					<key>name</key>
					<string>渠道佣金</string>
					<key>order</key>
					<integer>7</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/ShareRedEnvelope/CrowdRedEnvelopesList?jhparams=[userId|appid|sessionId]&amp;os=ios</string>
					<key>componentId</key>
					<string>CrowdRefunding_RedPager</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalGetRedBag</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyOtherRedEnvelopes</string>
					<key>name</key>
					<string>众筹红包</string>
					<key>order</key>
					<integer>8</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/Mobile/MyYJBDetails?jhparams=[userId|appId|sessionId]&amp;os=ios&amp;needLogin=1</string>
					<key>componentId</key>
					<string>CrowdRefunding_RedPager</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>myYiJieGold</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyOtherRedEnvelopes</string>
					<key>name</key>
					<string>我的易捷币</string>
					<key>order</key>
					<integer>9</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>discountTiket</string>
			<key>order</key>
			<integer>11</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>integral</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>integral</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<true/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的积分</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>scoreMarket</string>
			<key>order</key>
			<integer>15</integer>
			<key>show</key>
			<true/>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/Distribute/MyDistribution?jhParams=[userId|sessionId|esAppId|changeOrg]</string>
					<key>componentId</key>
					<string>mydistribution</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalDistribution</string>
					<key>iconUrl</key>
					<string></string>
					<key>id</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的分销</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string>sharedJumpManager</string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/Mobile/CommissionMoney?source=share&amp;productType=webcjzy&amp;needLogin=1&amp;jhParams=[userId|sessionId|orgId|changeOrg|curChangeOrg|account|appId]&amp;os=ios</string>
					<key>componentId</key>
					<string>CrowdSaling_RedPager</string>
					<key>event</key>
					<string>JumpManager</string>
					<key>icon</key>
					<string>personalRaise</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string>jumpToMyRedEnvelopes</string>
					<key>name</key>
					<string>我的众销</string>
					<key>order</key>
					<integer>2</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>btp.iuoooo.com/DiyGroup/MyDiyGroup?speader=da1c86ac-d313-4b56-8d75-ace7238359d2&amp;apptype=4&amp;esappid=da1c86ac-d313-4b56-8d75-ace7238359d2&amp;jhWebView=1&amp;source=internal&amp;productType=appcjzy&amp;needLogin=1&amp;jhParams=[userId|sessionId|orgId|appId|changeOrg|curChangeOrg]</string>
					<key>componentId</key>
					<string>MyDiyGroup</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalJoin</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的拼团</string>
					<key>order</key>
					<integer>3</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>selvesPoint</string>
			<key>order</key>
			<integer>16</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>lsp.iuoooo.com/COrder/MyAppointment?jhParams=[userId|sessionId|orgId|appId|changeOrg|curChangeOrg|account]&amp;jhWebView=1&amp;needLogin=1</string>
					<key>componentId</key>
					<string>myserver</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalService</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<true/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的服务</string>
					<key>order</key>
					<integer>4</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string>lsp.iuoooo.com/COrder/MyService?jhParams=[userId|sessionId|orgId|appId|changeOrg|curChangeOrg|account]&amp;jhWebView=1&amp;needLogin=1</string>
					<key>componentId</key>
					<string>myserversell</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalServiceSale</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<true/>
					<key>itemId</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的服务(商家版)</string>
					<key>order</key>
					<integer>2</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>componentId</key>
					<string>mypresellcomdty</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>personalBook</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>itemUrl</key>
					<string>zph.iuoooo.com/Presell/MyPresellComdty?btpdomain=btp&amp;source=share&amp;SrcType=49&amp;productType=webcjzy&amp;appType=4&amp;linkmall=1&amp;speader=da1c86ac-d313-4b56-8d75-ace7238359d2&amp;jhParams=[userId|sessionId|esAppId|changeOrg|curChangeOrg|appId]</string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>我的预约</string>
					<key>order</key>
					<integer>3</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>allService</string>
			<key>order</key>
			<integer>17</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>componentId</key>
					<string>userAgreement</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>useProtocol</string>
					<key>iconUrl</key>
					<string></string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>itemUrl</key>
					<string>iustore.iuoooo.com/Businessenterhtml/ServiceContract_both.html</string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>用户使用协议</string>
					<key>order</key>
					<integer>1</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>allProtocol</string>
			<key>order</key>
			<integer>18</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>array</key>
			<array>
				<dict>
					<key>InstantiationMethod</key>
					<string></string>
					<key>WebItemUrl</key>
					<string></string>
					<key>componentId</key>
					<string>SafetyCaterOperate</string>
					<key>event</key>
					<string></string>
					<key>icon</key>
					<string>safetycateroperate</string>
					<key>isArgs</key>
					<false/>
					<key>itemId</key>
					<string></string>
					<key>localURL</key>
					<string></string>
					<key>method</key>
					<string></string>
					<key>name</key>
					<string>阳光餐饮运营</string>
					<key>order</key>
					<integer>2</integer>
					<key>show</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>contentType</key>
			<string>allProtocol</string>
			<key>order</key>
			<integer>19</integer>
			<key>show</key>
			<integer>1</integer>
			<key>showType</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
